<section class="app-container">
    <header class="header">
        <h2 class="app_name"> Animal Shelter</h2>
        <nav class="nav">

          <a class="nav__item" routerLink="/animals-list" routerLinkActive="active">Our animals</a>
            <a class="nav__item" routerLink="/clients-list" routerLinkActive="active">List of clients</a>
            <a class="nav__item" routerLink="/add-client" routerLinkActive="active">Sign up!</a>
          <a class="nav__item" routerLink="/volunteers-list" routerLinkActive="active">Active volunteers</a>
        </nav>
    </header>
    <router-outlet></router-outlet>
</section>
