.app-container {
  width: 60%;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.12);
  min-height: 80vh;
  margin: 10vh auto;
  background:rgba(255,255,255,0.5);
}

.header {
  background-color:slategray;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid darkgray;
  margin-bottom: 10px;
}

.app_name {
  color: white;
  font-size: 30px;
  text-align: center;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.nav__item {
  width: 20%;
  padding: 5px 5px;
  background: lightgray;
  text-align: center;
  text-decoration: none;
}
